.input-content {
  border: 2px solid red;
  width: 45%;
  margin-left: 50px;
}

.contact-main-header {
  position: absolute;
  bottom: 15px;
  left: 75px;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}

.contact-email {
  width: 445px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.buildings-planned {
  width: 445px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  border-radius: 5px;
}
