// Recent Projects Gray Square: #D8D8D8
// Button borders: #222222

// Jumbotron Headers
// Font Weight: Bold
// Font Size: 64px
// Line Height: 75px
// Color: #FFFFFF

// Sub Headers
// Font Weight: Bold
// Font Size: 28px
// Color: #222222

.main-container {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
}

.header-img {
  width: 100%;
}

// .middle-content {
//   display: flex;
// }

.top-row {
  display: flex;
  border: 2px solid blue;
}

.bottom-row {
  display: flex;
  border: 2px solid greenyellow;
}
