// Navigation Logo
// Font Weight: Bold
// Font Size: 24px
// Color: #FFFFFF

// Navigation Text (Expanded)
// Font Weight: Bold
// Font Size: 48px
// Line Height: 85px
// Color: #FFFFFF
// Hover Color: #222222

.nav {
  height: 50px;
  border: 2px solid hotpink;
  // display: flex;
  align-content: center;
  width: 100%;
}
