// Tab selected background: #5E9FB9
// Tab Hover background: #222222
// Tab Hover color: #FFF;

.services-main-header {
  position: absolute;
  bottom: 30px;
  left: 85px;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}

.services-top-paragraph {
  padding: 50px 75px;
  line-height: 1.5;
}

.tabs-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;

  :hover {
    background: #222;
    color: #fff;
  }
}

.tabs-link-selected {
  background: #5e9fb9;
}

.tabs-link {
  border: 1px solid #222;
  height: 45px;
  width: 160px;
  text-align: center;
  padding-top: 10px;
  color: #222;
  font-weight: bold;
}

.tabs-item {
  display: none;
}

.tabs-items {
  display: flex;
  flex-wrap: wrap;
}

.tabs-item-title {
  font-weight: bold;
  font-size: 20px;
}

.tabs-item-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;

  .tabs-item-description {
    width: 40%;
    margin: 0;
    padding-right: 20px;
  }

  .tabs-item-title {
    padding-bottom: 25px;
    width: 100%;
    margin-left: 37px;
  }
}
